<div>
  <div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div>
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ngModel required>
        </div>
        <div>
          <label for="dob">DOB</label>
          <input type="date" id="dob" name="dob" ngModel required>
        </div>
        <div>
          <label for="score">Score</label>
          <input type="number" id="score" name="score" ngModel required>
        </div>
        <div>
          <label for="stream">Stream</label>
          <select id="stream" name="stream" required>
            <option *ngFor="let stream of streams" [value]="stream.id">{{stream.name}}</option>
          </select>
        </div>
      </div>
      <div>
        <div>
          <button type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
